# 使用套件

In [12]:
import datetime as dt
import requests
from bs4 import BeautifulSoup
from datetime import timedelta, date
import numpy as np
import pandas as pd
import pickle

# 定義一個爬選擇權資料的函數

In [13]:
def GetTodayOption(year, month, day):
    keys = {'syear': year, 'smonth': month, 'sday': day} # 要傳給期貨交易所的 key
    r = requests.get("http://www.taifex.com.tw/chinese/3/3_2_1.asp", data = keys) # 抓取這個 key 回傳網頁的原始碼
    r.encoding='utf8'
    soup = BeautifulSoup(r.text , "html.parser") # 把原始碼做整理
    soup_data1 = pd.read_html(str(soup.select('table')[2]),header=0)[2] ## 我不知道為什麼最後是[2]
    soup_data2 = pd.read_html(str(soup.select('table')[5]),header=0)[2]
    soup_data1=soup_data1.drop(['最高','最低','結算價','成交量','未平倉','漲跌'],axis=1)
    soup_data2=soup_data2.drop(['到期月份(週期)','最高','最低','結算價','成交量','未平倉','漲跌','履約價'],axis=1)
    df = pd.concat([soup_data1,soup_data2],axis=1).replace('-','NaN').convert_objects(convert_numeric=True)
    df.columns = ['到期月份','履約價','Call_最後成交價','Put_最後成交價']
    
    
    df['需刪除履約價'] = pd.DataFrame(df['履約價']%100)
    df['compare'] =df['Call_最後成交價'] - df['Put_最後成交價']
    
    df = df[df.需刪除履約價 != 50]
    
    df = pd.concat([df['到期月份'],df['履約價'],df['Call_最後成交價'],df['Put_最後成交價'],df['compare']],axis=1)
    df = df.reset_index(drop=True)
    
    return df

In [14]:
GetTodayOption(2017,1,6)

C:\Users\ericlin\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  # Remove the CWD from sys.path while we load stuff.

        到期月份     履約價  Call_最後成交價  Put_最後成交價  compare
0        NaN    9200       179.0        2.7    176.3
1        NaN    9300        86.0       11.5     74.5
2        NaN    9400        23.0       48.0    -25.0
3        NaN    9500         2.0      131.0   -129.0
4        NaN    9600         0.3      225.0   -224.7
5   201701.0    8400       950.0        0.4    949.6
6   201701.0    8500         NaN        0.5      NaN
7   201701.0    8600         NaN        0.8      NaN
8   201701.0    8700       670.0        1.1    668.9
9   201701.0    8800       565.0        1.5    563.5
10  201701.0    8900       466.0        2.1    463.9
11  201701.0    9000       367.0        3.6    363.4
12  201701.0    9100       273.0        7.5    265.5
13  201701.0    9200       182.0       16.0    166.0
14  201701.0    9300       105.0       38.5     66.5
15  201701.0    9400        48.0       81.0    -33.0
16  201701.0    9500        16.0      150.0   -134.0
17  201701.0    9600         4.4      241.0   -236.6
18  201701.0    9700         1.2      338.0   -336.8
19  201701.0    9800         0.6      434.0   -433.4
20  201701.0    9900         0.5        NaN      NaN
21  201701.0   10000         0.2        NaN      NaN
22  201701.0   10200         NaN        NaN      NaN
23  201701.0   10400         NaN        NaN      NaN
24  201701.0   10600         NaN        NaN      NaN
25  201702.0    8900         NaN       22.5      NaN
26  201702.0    9000       386.0       32.0    354.0
27  201702.0    9100       301.0       48.0    253.0
28  201702.0    9200       227.0       72.0    155.0
29  201702.0    9300       159.0      103.0     56.0
30  201702.0    9400       102.0        NaN      NaN
31  201702.0    9500        62.0        NaN      NaN
32  201702.0    9600        34.0        NaN      NaN
33  201702.0    9700        17.5        NaN      NaN
34  201702.0    9800         7.8        NaN      NaN
35       NaN  157630         NaN        NaN      NaN
36       NaN  161768         NaN        NaN      NaN

# 定義一個輸出每個月第一個星期三的日期的函數

In [15]:
def  first_wen(year,month):                         # 此函數需參數 年 及 月
    day=7-(dt.date(year,month,1).weekday()+4)%7    # weekday函數 禮拜一為0;禮拜日為6
    return year,month,day

d = {}
for i in range(2010,2018):
    for j in range(1,13):
        d[i,j] = first_wen(i,j)
res = pickle.dumps(d)

B = pd.DataFrame.from_dict(d,orient='index')
B.columns = ['年','月','日']
date = pd.concat([B['年'],B['月'],B['日']],axis=1)
year = list(B['年'])
month = list(B['月'])
day =list(B['日'])

# 定義一個輸出每個月第三個星期三的日期的函數

In [16]:
def  third_wen(year_2,month_2):                         # 此函數需參數 年 及 月
    day_2=21-(dt.date(year_2,month_2,1).weekday()+4)%7    # weekday函數 禮拜一為0;禮拜日為6
    return year_2,month_2,day_2

d = {}
for i in range(2010,2018):
    for j in range(1,13):
        d[i,j] = third_wen(i,j)
res = pickle.dumps(d)

A = pd.DataFrame.from_dict(d,orient='index')#.convert_objects(convert_numeric=True)
A.columns = ['年','月','日']
date = pd.concat([A['年'],A['月'],A['日']],axis=1)
year_2 = list(A['年'])
month_2 = list(A['月'])
day_2 =list(A['日'])

# 寫一個迴圈，並且輸出成dataframe

In [17]:
df = pd.DataFrame()
df_2= pd.DataFrame()

for i in range(len(year)):
    
    buy = GetTodayOption(year[0+i],month[0+i],day[0+i])
    
    timeup = GetTodayOption(year_2[0+i],month_2[0+i],day_2[0+i])
    
    
    print(i)
    
    try:
        
        date=np.isnan(buy['到期月份'])
        date=list(date)
        loc=date.index(0)
        loc
        date=buy['到期月份'][loc]
        index=buy['到期月份']==date
        buy=buy[index]
        buy=buy.reset_index(drop=True)

        date_2=np.isnan(timeup['到期月份'])
        date_2=list(date_2)
        loc=date_2.index(0)
        loc
        date_2=timeup['到期月份'][loc]
        index=timeup['到期月份']==date_2
        timeup=timeup[index]    
        timeup=timeup.reset_index(drop=True)

        #抓出買入時的價平            
        Cmp = buy['compare']
        Cmp = abs(Cmp)
        Cmp.min(skipna=True)
        loc = abs(Cmp)==Cmp.min(skipna=True)
        loc=list(loc)
        loc=loc.index(1)
        
        
        
        
        #timeup = timeup.filter(like=value,axis=0)
        
        
        ######################################################################################################################
        Cmp = buy[(loc-4):(loc+5)]   ####可以改要買價外價評價內幾檔 ##########
        ######################################################################################################################
        
        Cmp_2 = timeup['compare']
        Cmp_2 = abs(Cmp_2)
        Cmp_2.min(skipna=True)
        loc = abs(Cmp_2)==Cmp_2.min(skipna=True)
        loc=list(loc)
        loc=loc.index(1)
        
        
        Cmp_2 = timeup[(loc-4):(loc+5)]

        
        
        df=pd.concat([df,Cmp])
        df_2=pd.concat([df_2,Cmp_2])
        
    except Exception as e:
        print ('stock market was not open on %d/%d/%d' %(year[0+i], month[0+i], day[0+i]))
        pass

C:\Users\ericlin\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  # Remove the CWD from sys.path while we load stuff.

0
stock market was not open on 2010/1/6
1
stock market was not open on 2010/2/3
2
stock market was not open on 2010/3/3
3
stock market was not open on 2010/4/7
4
stock market was not open on 2010/5/5
5
stock market was not open on 2010/6/2
6
stock market was not open on 2010/7/7
7
stock market was not open on 2010/8/4
8
stock market was not open on 2010/9/1
9
stock market was not open on 2010/10/6
10
stock market was not open on 2010/11/3
11
stock market was not open on 2010/12/1
12
stock market was not open on 2011/1/5
13
stock market was not open on 2011/2/2
14
stock market was not open on 2011/3/2
15
stock market was not open on 2011/4/6
16
stock market was not open on 2011/5/4
17
stock market was not open on 2011/6/1
18
stock market was not open on 2011/7/6
19
stock market was not open on 2011/8/3
20
stock market was not open on 2011/9/7
21
stock market was not open on 2011/10/5
22
stock market was not open on 2011/11/2
23
stock market was not open on 2011/12/7
24
stock market was not open on 2012/1/4
25
stock market was not open on 2012/2/1
26
stock market was not open on 2012/3/7
27
stock market was not open on 2012/4/4
28
stock market was not open on 2012/5/2
29
stock market was not open on 2012/6/6
30
stock market was not open on 2012/7/4
31
stock market was not open on 2012/8/1
32
stock market was not open on 2012/9/5
33
stock market was not open on 2012/10/3
34
stock market was not open on 2012/11/7
35
stock market was not open on 2012/12/5
36
stock market was not open on 2013/1/2
37
stock market was not open on 2013/2/6
38
stock market was not open on 2013/3/6
39
stock market was not open on 2013/4/3
40
stock market was not open on 2013/5/1
41
stock market was not open on 2013/6/5
42
stock market was not open on 2013/7/3
43
stock market was not open on 2013/8/7
44
stock market was not open on 2013/9/4
45
stock market was not open on 2013/10/2
46
stock market was not open on 2013/11/6
47
stock market was not open on 2013/12/4
48
stock market was not open on 2014/1/1
49
stock market was not open on 2014/2/5
50
stock market was not open on 2014/3/5
51
stock market was not open on 2014/4/2
52
stock market was not open on 2014/5/7
53
stock market was not open on 2014/6/4
54
stock market was not open on 2014/7/2
55
stock market was not open on 2014/8/6
56
stock market was not open on 2014/9/3
57
stock market was not open on 2014/10/1
58
stock market was not open on 2014/11/5
59
stock market was not open on 2014/12/3
60
stock market was not open on 2015/1/7
61
stock market was not open on 2015/2/4
62
stock market was not open on 2015/3/4
63
stock market was not open on 2015/4/1
64
stock market was not open on 2015/5/6
65
stock market was not open on 2015/6/3
66
stock market was not open on 2015/7/1
67
stock market was not open on 2015/8/5
68
stock market was not open on 2015/9/2
69
stock market was not open on 2015/10/7
70
stock market was not open on 2015/11/4
71
stock market was not open on 2015/12/2
72
stock market was not open on 2016/1/6
73
stock market was not open on 2016/2/3
74
stock market was not open on 2016/3/2
75
stock market was not open on 2016/4/6
76
stock market was not open on 2016/5/4
77
stock market was not open on 2016/6/1
78
stock market was not open on 2016/7/6
79
stock market was not open on 2016/8/3
80
stock market was not open on 2016/9/7
81
stock market was not open on 2016/10/5
82
stock market was not open on 2016/11/2
83
stock market was not open on 2016/12/7
84
stock market was not open on 2017/1/4
85
stock market was not open on 2017/2/1
86
stock market was not open on 2017/3/1
87
stock market was not open on 2017/4/5
88
stock market was not open on 2017/5/3
89
stock market was not open on 2017/6/7
90
stock market was not open on 2017/7/5
91
stock market was not open on 2017/8/2
92
stock market was not open on 2017/9/6
93
stock market was not open on 2017/10/4
94
stock market was not open on 2017/11/1
95
stock market was not open on 2017/12/6

In [ ]:
df

In [ ]:
df_2

# 刪除df與df_2不重疊的資料

df=df.replace(201002.0,'NaN').convert_objects(convert_numeric=True).dropna()
df=df.replace(201006.0,'NaN').convert_objects(convert_numeric=True).dropna()
df=df.replace(201308.0,'NaN').convert_objects(convert_numeric=True).dropna()
df=df.replace(201502.0,'NaN').convert_objects(convert_numeric=True).dropna()
df

df_2=df_2.replace(201102.0,'NaN').convert_objects(convert_numeric=True).dropna()
df_2=df_2.replace(201204.0,'NaN').convert_objects(convert_numeric=True).dropna()
df_2=df_2.replace(201305.0,'NaN').convert_objects(convert_numeric=True).dropna()
df_2=df_2.replace(201401.0,'NaN').convert_objects(convert_numeric=True).dropna()
df_2=df_2.replace(201702.0,'NaN').convert_objects(convert_numeric=True).dropna()
df_2=df_2.replace(201710.0,'NaN').convert_objects(convert_numeric=True).dropna()
df_2

# 存成CSV檔案

In [9]:
df.to_csv('buy.csv')

In [10]:
df_2.to_csv('ontime.csv')